.body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #fff;
   font-size: 18px;
   background-color: rgb(141, 132, 97);
}
._container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 0px 15px;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}
.header {
   background-color: rgb(207, 193, 59);
}
.header__container {
}
.header__row {
   height: 100px;
   display: flex;
   align-items: center;
}
.header__logo {
   height: 70px;
   width: 70px;
   flex: 0 0 70px;
}
.header__logo img {
   max-width: 100%;
}
.header__text {
   flex: 1 1 auto;
   padding: 0px 0px 0px 30px;
   color: #000;
   font-size: 24px;
   line-height: 32px;
   text-align: right;
   font-weight: 700;
}
/* ---- ----------------*/
.page {
   min-height: 100%;
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}
.page__element {
   flex: 1 1 auto;
   min-height: 100%;
}
.element {
   position: relative;
}
.element:before {
   position: absolute;
   content: "";
   top: 0;
   left: 0;
   opacity: 0.1;
   background: url("../img/grid.png") 0 0 / 80px repeat;
   height: 100%;
   width: 100%;
}
.element__bee {
   height: 80px;
   width: 80px;
   position: absolute;
   z-index: 3;
   animation: fly-bee 20s 1 linear forwards, rotate 10s infinite ease;
}
.element__hero {
}
.element__bee img,
.element__flower img,
.element__male img,
.element__female img,
.element__heart img,
.element__family img {
   max-width: 100%;
}
.element__flower {
   position: absolute;
   z-index: 2;
   height: 60px;
   width: 60px;
   animation: fly-flower 10s 1 linear forwards, male-flower_22 1s 1 ease 30s forwards;
   transform: translate(50%, -100%);
}
.element__gender {
}
.element__male {
   height: 100px;
   width: 100px;
   position: absolute;
   z-index: 3;
   animation: male 1s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55) 15s forwards, male-flower_2 1s 1 ease 30s forwards,
      male-final 0.5s 1 ease 33s forwards;
   transform: translate(-50%, -50%);
   left: -10%;
}
.element__female {
   height: 100px;
   width: 100px;
   position: absolute;
   z-index: 3;
   top: 30%;
   right: -50%;
   animation: female-final 0.5s 1 ease 33s forwards;
   transform: translate(-50%, -50%);
}
.element__family {
   position: absolute;
   top: 50%;
   left: -50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   z-index: 4;
   text-align: center;
   animation: family 1s linear 37s forwards;
}
.element__family p {
   display: block;
   margin: 15px 0px 50px 0px;
   font-size: 40px;
   opacity: 0;
   animation: p 1s linear 38s forwards;
}
.element__family span {
   position: relative;
   z-index: 5;
   display: block;
   font-size: 50px;
   color: rgb(91, 201, 168);
   text-transform: uppercase;
   text-shadow: 1px 1px 10px rgb(0, 145, 241);
   transform: scale(0, 0);
   animation: span 1s linear 38.5s forwards;
}
.element__heart {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   z-index: 3;
   animation: heart 2s 1 ease 35s forwards;
}
/* -------------- */
.element__male-text {
   top: 15%;
   left: 30%;
}
.text {
   z-index: 2;
   position: absolute;

   background-color: rgb(61, 61, 61);
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 24px;
   transform: translate(-25%, -50%);
   border-radius: 10px;
   padding: 10px;
}
.element__male-text_1 {
   animation: opacity 4s 1 ease 17s;
   transform: scale(0, 0);
}
.element__male-text_2 {
   animation: opacity 4s 1 ease 24s;
   transform: scale(0, 0);
}
.element__male-text_3 {
   animation: opacity 4s 1 ease 27s;
   transform: scale(0, 0);
}
.element__bee-text {
   right: 0;
   bottom: 0;
}
.element__bee-text_1 {
   animation: opacity 4s 1 ease 21s;
   transform: scale(0, 0);
}

/* -------------- */
@keyframes fly-bee {
   0% {
      right: -20%;
      top: 80%;
   }
   50% {
      right: 50%;
      top: 30%;
   }
   100% {
      right: -20%;
      top: 80%;
   }
}
@keyframes fly-flower {
   0% {
      right: -20%;
      top: 80%;
   }
   100% {
      right: 50%;
      top: 30%;
   }
}
@keyframes rotate {
   0% {
      transform: rotate(5deg) translate(50%, -50%);
   }
   25% {
      transform: rotate(-5deg) translate(50%, -50%);
   }
   50% {
      transform: rotate(5deg) translate(50%, -50%);
   }
   75% {
      transform: rotate(-5deg) translate(50%, -50%);
   }
   100% {
      transform: rotate(5deg) translate(50%, -50%);
   }
}
@keyframes male {
   0% {
      top: 30%;
      left: -10%;
   }
   100% {
      top: 30%;
      left: 30%;
   }
}
@keyframes opacity {
   0% {
      transform: scale(0, 0) translate(-25%, -50%);
   }
   50% {
      transform: scale(1, 1) translate(-25%, -50%);
   }
   100% {
      transform: scale(0, 0) translate(-25%, -50%);
   }
}
@keyframes male-flower_2 {
   0% {
   }
   100% {
      left: -100%;
      top: 30%;
   }
}
@keyframes male-flower_22 {
   0% {
      right: 50%;
      top: 30%;
   }
   100% {
      right: -100%;
      top: 30%;
   }
}
@keyframes male-final {
   0% {
      right: -30%;
      top: 30%;
   }
   100% {
      left: 70%;
      top: 30%;
   }
}
@keyframes female-final {
   0% {
      right: -30%;
      top: 30%;
   }
   100% {
      right: 40%;
      top: 30%;
   }
}
@keyframes heart {
   0% {
      transform: translate(-50%, -50%) scale(0);
   }
   100% {
      transform: translate(-50%, -50%) scale(12, 12);
   }
}
@keyframes family {
   0% {
      left: -50%;
   }
   100% {
      left: 50%;
   }
}

@keyframes p {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes span {
   0% {
      transform: scale(0, 0);
   }
   100% {
      transform: scale(1, 1);
   }
}
